.block__box5{
    .container__size{
        // height:705px;
        .content__position{
            position:relative;
            // display:flex;
            // flex-wrap: wrap;
            .image{
                width:100%;
                height:100%;
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
            .block__content{
                position:absolute;
                width:706px;
                height: 584px;
                bottom: 0;
                right:0;
                background-color: #fff;
                box-sizing: border-box;
                padding:80px;
                display:grid;
                row-gap: 24px;
                @media (max-width:708px) {
                    display:none;
                    visibility: hidden;
                }
                .text{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    letter-spacing: 3px;
                    text-align: left;
                    text-transform: uppercase;

                }
                .label{
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 64px;
                    letter-spacing: -2px;
                    text-align: left;

                }
                .textTwo{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    text-align: left;

                }
                form{
                    button{}
                }
            }
        }
    }
}